<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DropDownTest</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/choose_test/choose}">

    <label for="person">Choose person</label>
    <select th:object="${person}" th:field="*{person_id}" id="person">
<option th:each="person : ${people}" th:value="${person.getPerson_id()}"
        th:text="${person.getName()}"></option>
    </select>

    <input type="submit" value="Choose"/>
</form>
</body>
</html>